@page "/movies/edit/{MovieId:int}"
@inject IMovieRepository movieRepository
@inject NavigationManager navigationManager
@attribute [Authorize]

<h3>Edit Movie</h3>

@if (Movie != null)
{
    <MovieForm Movie="Movie" OnValidSubmit="Edit" NotSelectedGenres="NotSelectedGenres"
               SelectedGenres="SelectedGenres"
               SelectedActors="SelectedActors"
               SelectedTheaters="SelectedTheaters" />
}

@code {
    [Parameter] public int MovieId { get; set; }
    private Movie Movie;
    private List<Genre> NotSelectedGenres;
    private List<Genre> SelectedGenres;
    private List<Person> SelectedActors;
    private List<Theater> SelectedTheaters;

    protected async override Task OnInitializedAsync()
    {
        var model = await movieRepository.GetMovieForUpdate(MovieId);
        Movie = model.Movie;
        SelectedActors = model.Actors;
        SelectedTheaters = model.Theaters;
        SelectedGenres = model.SelectedGenres;
        NotSelectedGenres = model.NotSelectedGenres;
    }

    private async Task Edit()
    {
        try
        {
            await movieRepository.UpdateMovie(Movie);
            navigationManager.NavigateTo($"movie/{MovieId}/{Movie.Title.Replace(" ", "-")}");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}