@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager navigationManger
@inject SignOutSessionStateManager signOutManager

<AuthorizeView>
    <Authorized>
        <span>Hello, @context.User.Identity.Name!</span>
        <button class="nav-link btn btn-link" @onclick="BeginSignOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/register">Register</a>
        <a href="authentication/login" class="nav-link btn btn-link">Login</a>
    </NotAuthorized>
</AuthorizeView>

@code {

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await signOutManager.SetSignOutState();
        navigationManger.NavigateTo("authentication/logout");
    }
}