@page "/person/create"
@inject IPersonRepository personRepository
@inject NavigationManager navigationManager
@attribute [Authorize]

<h3>Create Person</h3>

<PersonForm Person="person" OnValidSubmit="Create" />

@code {

    Person person = new Person();

    private async Task Create()
    {
        try
        {
            await personRepository.CreatePerson(person);
            navigationManager.NavigateTo("people");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

}
