@page "/"
@page "/index"
@inject IMovieRepository movieRepository

<div>
    <h3>In Theaters</h3>
    <MoviesList Movies="inTheaters" />
</div>

<div>
    <h3>Upcoming Releases</h3>
    <MoviesList Movies="upcomingReleases" />
</div>

@code{
    private List<Movie> inTheaters;
    private List<Movie> upcomingReleases;
    protected async override Task OnInitializedAsync()
    {
        var response = await movieRepository.GetIndexPageDTO();
        inTheaters = response.InTheaters;
        upcomingReleases = response.UpcomingReleases;
    }
}