@page "/"

<div>
    <h3>Movie</h3>
    <MoviesList Movies="movies" />
</div>

<button @onclick="AddNewMovie">Add new movie</button>

@code {

    private List<Movie> movies;

    protected override void OnInitialized()
    {
        movies = new List<Movie>()
        {
            new Movie(){Title = "Spider-Man: Far From Home", ReleaseDate = new DateTime(2019, 7, 2)},
            new Movie(){Title = "The Shining", ReleaseDate = new DateTime(1980, 10, 30)},
            new Movie(){Title = "Inception", ReleaseDate = new DateTime(2010, 7, 16 )}
        };
    }

    public void AddNewMovie()
    {
        movies.Add(new Movie() { Title = "Movie Sample", ReleaseDate = DateTime.Today });
    }
}