@page "/"
@page "/index"
@inject IMovieRepository movieRepository

<div>
    <h3>In Theaters</h3>
    <MoviesList Movies="inTheaters" />
</div>

<div>
    <h3>Upcoming Releases</h3>
    <MoviesList Movies="upcomingReleases" />
</div>

<CustomTypeahead SearchMethod="SearchMethod">
    <ResultTemplate>
        @context
    </ResultTemplate>
</CustomTypeahead>

@code {

    private List<Movie> inTheaters;
    private List<Movie> upcomingReleases;

    protected override async Task OnInitializedAsync()
    {
        var response = await movieRepository.GetIndexPageDTO();
        inTheaters = response.InTheaters;
        upcomingReleases = response.UpcomingReleases;
    }

    private async Task<IEnumerable<string>> SearchMethod(string searchText)
    {
        await Task.Delay(2000);

        if (searchText == "test")
        {
            return Enumerable.Empty<string>();
        }

        return new List<string>() { "Gyokay", "Ali" };
    }
}