@page "/person/edit/{PersonId:int}"
@inject IPersonRepository personRepository
@inject NavigationManager navigationManager
@attribute [Authorize]

<h3>Edit Person</h3>

@if (person != null)
{
    <PersonForm Person="person" OnValidSubmit="Edit" />
}

@code {

    Person person;

    [Parameter]
    public int PersonId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        person = await personRepository.GetPersonById(PersonId);
    }

    private async Task Edit()
    {
        await personRepository.UpdatePerson(person);
        navigationManager.NavigateTo("people");
    }
}
