@page "/movies/create"
@inject NavigationManager navigationManager

<h3>Create Movie</h3>

<MovieForm Movie="Movie" OnValidSubmit="SaveMovie" />

@code {

    private Movie Movie = new Movie();

    private void SaveMovie()
    {
        // Saving movie...
        Console.WriteLine("Create movie");
    }
}
