@page "/movies/create"
@inject NavigationManager navigationManager
@inject IMovieRepository movieRepository
@inject IGenreRepository genreRepository

<h3>Create Movie</h3>

@if (NotSelectedGenres != null)
{
    <MovieForm Movie="movie" OnValidSubmit="SaveMovie" NotSelectedGenres="NotSelectedGenres" />
}

@code {

    private Movie movie = new Movie();
    private List<Genre> NotSelectedGenres;

    protected override async Task OnInitializedAsync()
    {
        NotSelectedGenres = await genreRepository.GetGenres();
    }

    private async Task SaveMovie()
    {
        try
        {
            var movieId = await movieRepository.CreateMovie(movie);
            navigationManager.NavigateTo($"movies/{movieId}/{movie.Title.Replace(" ", "-")}");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
