@page "/movies/edit/{MovieId:int}"

<h3>Edit Movie</h3>

@if (Movie != null)
{
    <MovieForm Movie="Movie" OnValidSubmit="Edit" 
               NotSelectedGenres="NotSelectedGenres"
               SelectedGenres="SelectedGenres" />
}

@code {

    private Movie Movie = new Movie();

    private List<Genre> NotSelectedGenres = new List<Genre>()
{
        new Genre() { Id = 1, Name = "Action" },
        new Genre() { Id = 2, Name = "Comedy" },
        new Genre() { Id = 3, Name = "Horror" }
    };

    private List<Genre> SelectedGenres = new List<Genre>()
{
        new Genre() { Id = 4, Name = "Romantic" }
    };

    [Parameter]
    public int MovieId { get; set; }

    protected override void OnInitialized()
    {
        Movie = new Movie() { Id = MovieId, Title = "My Movie <3" };
    }

    private void Edit()
    {
        Console.WriteLine("editing the movie");
    }
}
