@page  "/genres"
@inject IGenreRepository genreRepository
@attribute [Authorize]

<h3>Genres</h3>

<div class="form-group">
    <a class="btn btn-info" href="genre/create">New Genre</a>
</div>

<GenericList List="genres">
    <WholeListTemplate>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in genres)
                {
                    <tr>
                        <td>
                            <a class="btn btn-success" href="/genre/edit/@item.Id">Edit</a>
                            <button class="btn btn-danger" @onclick="@(() => DeleteGenre(item.Id))">Delete</button>
                        </td>
                        <td>@item.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </WholeListTemplate>
</GenericList>

@code {

    List<Genre> genres;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            genres = await genreRepository.GetGenres();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private async Task DeleteGenre(int id)
    {
        await genreRepository.DeleteGenre(id);
        genres = await genreRepository.GetGenres();
    }
}
