.individual-movie-container {
    margin-right: 2%;
    margin-bottom: 10px;
    text-align: center;
}

.movie-poster {
    width: 225px;
    height: 300px;
}

individual-movie-container p {
    max-width: 225px;
    height: 44px;
    font-size: 15px;
    font-weight: bold;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form-markdown {
    display: flex;
}

    .form-markdown textarea {
        width: 500px;
        height: 500px;
        margin-right: 15px;
    }

    .form-markdown .markdown-container {
        border: 1px dashed black;
        width: 500px;
        height: 500px;
    }

.multiple-selector {
    display: flex;
}

.selectable-ui {
    height: 200px;
    overflow-y: auto;
    list-style-type: none;
    width: 170px;
    padding: 0;
    border-radius: 3px;
    border: 1px solid #ccc;
}

    .selectable-ui li {
        cursor: pointer;
        border-bottom: 1px #eee solid;
        padding: 2px 10px;
        font-size: 14px;
    }

        .selectable-ui li:hover {
            background-color: #08c;
        }

.multiple-selector-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

    .multiple-selector-buttons button {
        margin: 5px;
    }
